/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333333; /* Texto escuro */
    background-color: #ffffff; /* Fundo branco */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background-color: #f8f8f8; /* Fundo claro do cabeçalho */
    color: #333333; /* Texto escuro no cabeçalho */
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #9b59b6; /* roxo */
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333333; /* Texto escuro */
}

/* Botões */
.nav-buttons a {
    background-color: #9b59b6; /* Cor dos botões */
}

.nav-buttons a:hover {
    background-color: #8e44ad; 
}

/* Conteúdo principal */
main {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    background-color: #fdfdfd; /* Fundo claro para o conteúdo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Janela Pop-Up */
.popup-content {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
}

/* Seções */
h2, h3 {
    color: #9b59b6;
}

/* Texto e parágrafos */
.introduction p, .character-classes p, .introduction-mesa p, .introduction-ttrpg p, .links p, .popup-content p, .close-btn {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #333333; /* Texto escuro */
}

.grid-item p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #fdfdfd; /* Texto claro */
}

/* Links para grupos */
.links a {
    color: #9b59b6; /* Cor dos links */
}

.links a:hover {
    color: #e57373; /* Cor dos links ao passar o mouse */
}

/* Rodapé */
footer {
    background-color: #f8f8f8; /* Fundo claro do rodapé */
    color: #333333; /* Texto escuro no rodapé */
}

/* Cards das Classes */
.card {
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Ajusta a margem para manter o espaço vertical */
    padding: 10px;
    width: 100%; /* Faz os cartões ocuparem 100% da largura disponível */
    max-width: 400px; /* Limita a largura máxima dos cartões */
    transition: background-color 0.3s;
}

.accordion-title:hover {
    background-color: #ffffff;
}
